/* 
dark #264653 
     #2A9D8F
     #E9C46A
     #F4A261
     #E76F51
*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
     font-family: 'Josefin Sans', sans-serif;
     color: #E9C46A;
     font-size: 1.5em;
     background-color: #264653;
     margin: 0em 2em;
     min-height: 100%;
}

html {
     background-color: #2A9D8F;
     height: 100%;
}

p {
     margin: 0em 2em;
     padding: 1em 0em;
     height: 100%;
     line-height: 1.3em;
}

h1 {
     /* font-family: 'Indie Flower', cursive; */
     color: #F4A261;
     text-align: center;
     margin: 0;
     padding: 0.5em 0.5em 0em 0.5em;
     /* background-color: #E76F51; */
}

hr {
     background-color: #2A9D8F;
     color: #E76F51;
     border-width: 0;
     height: 0.1em;
     width: 50%;
}

a.logo {
     text-decoration: none;
}

a:link {
     color: #E76F51;
}

a:visited {
     color: #E9C46A;
}

a:hover {
     color: #2A9D8F;
}

img.logo {
     vertical-align: middle;
     width: 48px;
     height: 48px;
     margin: 1em 5em;
}

footer {
     margin: 2em 0.5em 0.25em 0.5em;
     text-align: center;
     line-height: 1.3em;
}